* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-container {
  width: 1440px;
  height: 299px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #1e3448 99.99%, rgba(30, 52, 72, 0) 100%);
}

.top-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.top-button-container button {
  padding: 12px 24px;
  gap: 10px;
  color: white;
  width: 142px;
  height: 44px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  /* Primary/300 - base */
  border-color: transparent;
  background: #0065fe;
  border-radius: 100px;
}

.bottom-container {
  width: 1440px;
  height: 561px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Neutral/White */

  background: #ffffff;
}

.bottom-container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.social-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 18%;
  /*width: 250px;*/
  height: 96px;
  padding-top: 10px;
}

.social-media-frame {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-evenly;
}

/*VISIT THIS LATER*/
.footer-second-frame img {
  max-width: 100px;
}
.footer-first-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 12.5%;
  /*width: 180px;*/
  height: 384px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-second-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 14%;
  /*width: 201px;*/
  height: 335px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-second-frame .footer-second-frame-top,
.footer-third-frame .footer-third-frame-top,
.footer-first-frame .footer-first-frame-top,
.footer-fourth-frame .footer-fourth-frame-top {
  display: flex;
  flex-direction: column;
  height: 128px;
  gap: 6px;
  margin-bottom: 24px;
}

.footer-first-frame .footer-first-frame-bottom,
.footer-second-frame .footer-second-frame-bottom,
.footer-third-frame .footer-third-frame-bottom {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.footer-third-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 15%;
  /*width: 211px;*/
  height: 312px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.footer-fourth-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 6px;
  width: 10%;
  /*width: 148px;*/
  height: 172px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.footer-first-frame h4,
.footer-second-frame h4,
.footer-third-frame h4,
.footer-fourth-frame h4 {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 24px;
  color: #071827;
  font-weight: 600;
}

.footer-bottom p,
.footer-first-frame p,
.footer-second-frame p,
.footer-third-frame p,
.footer-fourth-frame p {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  color: #112232;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  /*width: 1100px;*/
  width: 1440px;
  height: 20px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: flex-end;
}
